---
layout: page
permalink: /archive/
---

<div id="archive">
  {% assign grouped_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in grouped_by_year %}
      <strong>{{ year.name }}</strong>
        {% assign grouped_by_month = year.items | group_by_exp: "post", "post.date | date: '%B'" %}
          {% for month in grouped_by_month %}
            <strong>{{ month.name }}</strong>
            <ul>
              {% for post in month.items %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
    {% endfor %}
</div>
